{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/director.css' %}">
{% endblock %}

{% block title %}{{ director }}{% endblock %}


{% block main %}
<div id="autoscroll" class="autoscroll">
    <div class="content-frame">
        <div class="descriptionContainer">
            <img class="description-img" src="{% if director.profil_image %}{{ director.profil_image.url }}{% endif %}">
            <div class="description">
                <div>
                    {{ director.description }}
                </div>
                <h4>
                    {{ director.job }}
                </h4>
            </div>
            <div class="description-contact">
                <div class="desctiptionSpacer"></div>
                <div>
                    {{ director.first_name }}
                    {{ director.last_name }}
                </div>
                <div>
                    <a href="mailto:{{ director.email }}">
                        {{ director.email }}
                    </a>
                </div>
                <div>
                    {{ director.phone_number }}
                </div>
            </div>
        </div>
        <div class="grid-container" oncontextmenu="return false;">
            {% for video in director.videos.all %}
            <a href="{% url 'video' pk=video.id %}" onclick="delayTransition(this)">
                <div class="mini-video">
                    <video muted loop preload onmouseover="startLoop(this)" onmouseout="pauseLoop(this)">
                        <source src="{{ video.video.url }}" type="video/mp4">
                        Ce format de video n'est pas pris en charge par votre browser...
                    </video>
                    <h3>{{ video.name }}</h3>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{% static 'js/gridhandle.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/icondisplayfix.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/video.js' %}"></script>
{% endblock %}