{% load static %}
{% load i18n %}
{% load custom_tags_directors %}

<footer>
    <div>
        <a href="https://vimeo.com/user175496361" target="blank"><img class="contact" type="img/png" src="{% static 'img/logo/vimeo/vimeo128.png' %}"></a>
        <a href="lucarne.films@gmail.com" onclick="copyMail(this)"><img class="contact" type="img/png" src="{% static 'img/logo/mail/mail128.png' %}"></a>
        <a href="https://www.instagram.com/lucarnefilms/" target="blank"><img class="contact" type="img/png" src="{% static 'img/logo/insta/instagram128.png' %}"></a>
        <a href="https://www.youtube.com/channel/UC55QBm4pLRUI3RxroFbIpEg" target="blank"><img class="contact" type="img/png" src="{% static 'img/logo/youtube/youtube128.png' %}"></a>
    </div>
    <div>
        {% get_available_languages as LANGUAGES %}
        {% for language_code, language_name in LANGUAGES  %}
        <!--            <a href="">{{ language_code }}</a>-->
        <a href="{% change_lang language_code %}" onclick="delayTransition(this)">{{ language_code }}</a>
        {% if not forloop.last %}
        <span> - </span>
        {% endif %}
        {% endfor %}
        
    </div>
    <p class="mailPopup">{% trans 'Adresse mail copiée dans le presse papier' %}</p>
</footer>