asgiref==3.7.2
Django==5.0.6
django-admin-inline-paginator==0.3.0
django-admin-ordering==0.15.0
django-cuser==2017.3.16
django-environ==0.11.2
django-js-asset==2.0.0
django-modeltranslation==0.18.11
django-tinymce==3.4.0
gunicorn==20.1.0
Pillow==10.3.0
psycopg2==2.9.3
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
