{% load static %}

<meta charset="UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="De la production cinématographique à la communication vidéo, Lucarne films couvre toutes les possibilités d'expressions audiovisuelles ">
<meta name="keywords" content="Lucarne, Lucarne-films, Bruxelles, Belgique, film, cinéma, production, audiovisuelle, co-production, tax shelter, fiction, publicité, branding, court-métrage, long-métrage, advertising, advertisement, corporate, film d’entreprise, communication, réalisateur, réalisation.">
<link rel="icon" type="image/png" href="{% static 'img/logo/favicon/favicon.png' %}">
<script type="text/javascript" src="{% static 'js/load.js' %}"></script>
<script type="text/javascript" src="{% static 'js/viewportHeight.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/window.css' %}">
