/* GENERAL */

* {
	font-family: Glacial Indifference;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
button {
    display: inline-block;
    background: none;
    border: none;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
	cursor: pointer;
}
a {
	text-decoration: none;
	color: black;
}
footer a:hover {
	text-decoration: underline;
}

/*TEXT & FONT*/

@font-face {
	font-family: Glacial Indifference;
	src:  url(../font/glacial-indifference/GlacialIndifference-Regular.otf);
}
h2 {
	color: #fff;
	text-transform: uppercase;
}
h4 {
	text-transform: capitalize;
	font-size: 1.4vh;
	/* font-size: calc(var(--vh, 1vh) * 1.4); */
	font-weight: 400 ;
	text-align: center;
}

/* APPEARANCE */

body {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
  	/* height: calc(var(--vh, 1vh) * 100); */
	display: flex;
	flex-direction: column;
}

/* HEADER */

header {
	display: block;
	height: 15%;
	/* height: calc(var(--vh, 1vh) * 15); */
}
.logo-lucarne {
	position: absolute;
	top: 3.75%;
	/* top: calc(var(--vh, 1vh) * 3.75); */
	left: 7vw;
	height: 7.5vh;
	height: calc(var(--vh, 1vh) * 7.5);
	z-index: 2;
}
nav {
	position: absolute;
	top: 3.75%;
	/* top: calc(var(--vh, 1vh) * 3.75); */
	right: 7vw;
	z-index: 2;
}
@keyframes team {
	from {
		transform: translate(calc(43vw - 2.4vh), calc(-50vh + 6.75vh)) scale(calc(3/25));
		transform: translate(calc(43vw - var(--vh, 1vh) * 2.4), calc(var(--vh, 1vh) * (-43.25))) scale(calc(3/25));
	}
	to {transform: translate(0, 0) scale(1);}
}
#navCenter {
	display: none;
	transform: translate(calc(43vw - 2.4vh), calc(-50vh + 6.75vh)) scale(calc(3/25));
	transform: translate(calc(43vw - var(--vh, 1vh) * 2.4), calc(var(--vh, 1vh) * (-43.25))) scale(calc(3/25));
	animation-name: team;
	animation-timing-function: ease-in-out;
	animation-duration: 1.3s;
	animation-fill-mode: forwards;
}
#navBack {
	display: none;
	transform: translate(0, 0) scale(1);
	animation-name: team;
	animation-timing-function: ease-in-out;
	animation-direction: reverse;
	animation-duration: 1.3s;
	animation-fill-mode: backwards;
}

#navCorner {
	display: none;
}
.button-window {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1px;
}
.mini-window {
	background-color: #000;
	width: 2.4vh;
	width: calc(var(--vh, 1vh) * 2.4);
	height: 3vh;
	height: calc(var(--vh, 1vh) * 3);
}
@media (hover: hover) {
	button:hover .mini-window {
		background-color: transparent;
		border: solid 1px #000;
	}
}

/* INTRO */

@keyframes introAppear {
	0% { opacity: 0; }
	33% { opacity: 1; }
	66% { opacity: 1; }
	100% { opacity: 0; }
}

.intro {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* height: calc(var(--vh, 1vh) * 100); */
	background-color: #fff;
	z-index: 10;
	animation-name: disappear;
	animation-delay: 4s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	opacity: 1;
}
.intro img {
	max-width: 100%;
	max-height: 500px;
	padding: 50px;
	animation-name: introAppear;
	animation-delay: 0.5s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	opacity: 0;
}

/* MAIN */

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70%;
	/* height: calc(var(--vh, 1vh) * 70); */
}
@keyframes disappear {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes appear {
	from { opacity: 0; }
	to { opacity: 1; }
}
#mainAppear {
	opacity: 0;
	animation-name: appear;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
	animation-delay: 0.2s;
	animation-duration: 0.7s;
}
#mainDisappear {
	opacity: 0;
	animation-name: disappear;
	animation-timing-function: ease-out;
	animation-duration: 0.7s;
}
#divAppear {
	display: block;
	opacity: 1;
	animation-name: appear;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}
#divDisappear {
	opacity: 0;
	animation-name: disappear;
	animation-timing-function: ease-out;
	animation-duration: 1.5s;
}
.backClick {
	position: fixed;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}


/* FOOTER */

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 15%;
	/* height: calc(var(--vh, 1vh) * 15); */
	margin: auto;
	width: 100vw;
}
footer div {
	padding: 2px;
	z-index: 2;
}
.mailPopup {
	opacity: 1;
	animation-name: disappear;
	animation-delay: 2s;
	animation-duration: 1s;
	display: none;
	background-color: #000;
	color: #fff;
	position: absolute;
	bottom: 11vh;
	bottom: calc(var(--vh, 1vh) * 11);
	padding: 3px 9px;
	border-radius: 4px;
}
footer div span {
	display: inline-block;
	text-align: center;
	width: 20px;
}
.contact {
	height: 15px;
	padding: 0 10px;
}

.margin-auto{
    margin: auto;
}